/* Giving the body the specified background color*/
body {
  background: #f1f1f1;
}


/* Styling the header, giving it a height, a background color, and some top padding */
.header {
  height: 100px;
  padding-top: 1px;
  background: #f1f1f1;
}

/* Giving our navbar some padding and a background color */
.navbar {
  display: block;
  color: white;
  background: #f1f1f1;
  padding: 5px;
}


/* Getting rid of the default linked styles here */

.topnav-right li a {
  float: right;
  cursor: pointer;
  color: black;
  text-decoration: black;
  display: inline-block;
  padding: 2px;
  margin-right: 2px;
  margin-left: 2px;
}
.topnav-left a {
  color: white;
  text-decoration: #fff;
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
  margin-left: 10px;
  background: #008B8B;
  border-radius: 3px;
}


/*adding font size for the h3 elements */
h3 {
  font-size: 30px;
  color: #008B8B;
}

/* Giving the .post element margin on 3 sides */
.post {
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 10px;
}






/* Here we define some styles that will ONLY be applied at screen sizes below 600 pixels */
@media (max-width: 600px) {
  /* .box-1 {
    background: purple;
  } */

  /* .box-2 {
  background: yellow;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 2px black;
  } */

  /* .box-3 {
    display: none;
  } */

  /* .box-4 {
    transform: rotate(360deg);
    transition: transform 0.5s ease-in;
  } */

  /* .box-5 {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
    background: none;
    margin-left: 300px;
  } */
}
