/* Web-design-challenge*/
 
/* Giving the body the specified background color*/

section {
  background-color: #DCDCDC;
  padding: 50px;
}

/* Giving the .grid element color*/
.col-sm-4 {
  background: #FFFFFF;
  padding: 50px;
}

.img-fluid:hover {
      border: 4px solid #7FFFD4;
}


.col-sm-7 {
  background: #FFFFFF;
  padding: 10px;
}

.col-sm-12 {
  background: #FFFFFF;
  padding: 10px;
}

/* Giving navbar some padding and a background
   color */
.navbar-brand {
  font: bold 16px/32px Georgia, serif;
  overflow: hidden;
  padding: 5px;
  background: #008B8B; 
 ;}


/*adding font size for the h3 elements */
h3 {
  margin-top: 100px;
  padding: 10px;
  font-size: 30px;
  color: #008B8B;
}

/*adding font size for the h2 elements */
h2 {
  font-size: 30px;
  color: #008B8B;
  padding: 10px;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #008B8B;
    font: bold 16px/32px Georgia, serif;
    background: #cdcdcd; 
}

@media (max-width: 768px) {
section {
  background: none;
  padding: none;
}}

@media (max-width: 768px) {
  .container {
    color: #008B8B;
    background-color: #008B8B;
    padding: 5px;
}}

@media (max-width: 768px) {
  .navbar-brand  {
  font: bold 16px/32px Georgia, serif;
  overflow: hidden;
  padding: 5px;
  background: #008B8B;}}

